.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}


.service:hover .service-img .title{opacity: 1;bottom: calc(50% - 60px);}
.list-tick {list-style: none;}
.list-tick>li:before{
    content: "î™";
    font-family: "themify";
    color: #e72732;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
}
.list-tick>li {
    padding: 0 0 10px 22px;
    position: relative;
}
#community .set-2{
    padding-top: 30px;
}
@media(max-width:991px){
    #community .set-2{
        padding-top: 0;
    }
}
.sub-list{
    padding-left: 10px;
    list-style: disc inside;
}
.client.notilt a{transform: none;}
.client.notilt a img{transform: none; filter:none; opacity: 1;}

.values.notilt ul.nav-tabs li {
  padding-left: 5px;
  padding-right: 5px;
}
.values.notilt ul.nav-tabs li a img {filter:none; transform:none;}
.values.notilt ul.nav-tabs li a .tab-img {transform:none;}
.values.notilt ul.nav-tabs li img {
    max-height: 50px;
    margin: 0 auto;
    text-align: center;
    transition: all 0.3s ease-in-out;
    height: auto;
    position: static;
    display:inline;
    padding: 7px;
}
.values.notilt ul.nav-tabs li a
{
    background: #fff !important;
    background: radial-gradient(ellipse at center, #fff 0%, #e3e4e4 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e3e4e4',GradientType=1) !important;
    max-width: 210px; 
    height: 210px;
    text-align: center;
    display: block;
    padding: 0;
    line-height: 210px !important;
    overflow: hidden;
    margin: 0 auto;
    background: #f5f6f7;
    border: 1px solid transparent !important;
    border-radius: 4px;
}
.values.notilt ul.nav-tabs li a:hover
{
    opacity: .7;
}
.values.notilt ul.nav-tabs li.active a {border: 1px solid #ef402a !important;}
.apply-menu li.active a:after { border-bottom-right-radius: 2px; bottom: -10px;}

#community { padding: 120px 0 100px; z-index: 99; }

.client.notilt.index a {
    background: #fff !important;
    background: radial-gradient(ellipse at center, #fff 0%, #fff 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f3f2f1',GradientType=1) !important;
}

@media (min-width: 770px) and (max-width: 865px) {
    .client a {
        width: 180px;
        height: 180px;
        line-height: 180px;
        margin-top: 20px;
    }
}
@media (min-width: 970px) and (max-width: 1330px) {
    .values.notilt ul.nav-tabs li a {
        max-width: 180px;
        height: 180px;
        line-height: 180px !important;
    }
}
@media (min-width: 767px) and (max-width: 960px) {
    .values.notilt ul.nav-tabs li a {
        max-width: 150px;
        height: 150px;
        line-height: 150px !important;
    }
}
@media (min-width: 11115px) and (max-width: 1330px) {

    .client a {
        width: 150px;
        height: 150px;
        line-height: 150px;
        margin-top: 20px;
    }
    #community .set-2 {
        padding-top: 20px;
    }
}

@media (max-width: 690px) {
    .values.notilt ul.nav-tabs li a {
        max-width: 150px;
        height: 150px;
        line-height: 150px !important;
    }

}
@media (max-width: 480px) {
    .values.notilt ul.nav-tabs li a {
        max-width: 100px;
        height: 100px;
        line-height: 100px !important;
    }
    .values.notilt ul.nav-tabs li a img {width:100%;}

}
.list-tick ul {margin-left: 20px;}
.ul {
    padding-left: 0;
    padding-right: 20px;
}

@media (min-width: 991px){
    .p-0{padding: 0;}
}
@media (max-width: 991px){
    .client a{margin-top: 15px;}
}
.client a {
    width: 100%;
    height: 100%;
}

/** ANIMATIONS **/
.primaryBg {background-color:#000066;}
#LogoPreloader {
    position: relative;
    top: calc(50% - 150px);
    margin: 0 auto;
    left: 0;
    right: 0;
    width:300px;
}

#patternLines {
    width: 800px;
    opacity: 1;
    position: absolute;
    right: -400px;
    top: -300px;
}

#patternWhite {
    height: 600px;
    opacity: 1;
    position: absolute;
    left: -420px;
    top: 0px;
    opacity:0.1;
}

#sphereWhite {
    height: 700px;
    opacity: 1;
    position: absolute;
    left: -700px;
    top: -80px;
    opacity:0.3;
}


#white1 {
    position: absolute;
    top:0;
    left:0;
    width:200px;
    opacity: 0.5;
}
#white2 {
    position: absolute;
    top:200px;
    left:0;
    width:200px;
    opacity: 0.5;
}
#white3 {
    position: absolute;
    top:400px;
    left:0;
    width:200px;
    opacity: 0.5;
}
.client.index a {height:100px; line-height:100px;pointer-events: none; cursor: default;}
.client.index a:hover {border:none;}
