$color-body: #11112e
$color-danger: #e72732
$color-primary: #000066

$color-footer: #cacaca
$color-gray: #929292
$color-gray-2: #767676
$color-bg: #f7f7f7
$color-bg-2: #b8b8b8
$color-bg-3: #f9f9f9
$color-hr: #dfdfdf
$color-dot: #e3e3e3
$color-info: #6cc8bf
$color-warning: #ffc60b 
$color-warning-2: #f5881a 

.text-black
	color: #000 !important
.text-black-2
	color: #838383 !important
.text-gray
	color: $color-gray !important
.text-gray-2
	color: $color-gray-2 !important
.text-info
	color: $color-info !important
.text-primary
	color: $color-primary !important
.text-warning
	color: $color-warning !important
.text-warning-2
	color: $color-warning-2 !important
.text-primary-2
	color: #c6a1e8 !important

.bg-gray
	background-color: $color-bg !important
.bg-gray-2
	background-color: $color-bg-2 !important
.bg-gray-3
	background-color: $color-bg-3 !important
.bg-info
	background-color: $color-info !important
.bg-primary
	background-color: $color-primary !important