@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:200,300,400,500,600");
.text-black {
  color: #000 !important; }

.text-black-2 {
  color: #838383 !important; }

.text-gray {
  color: #929292 !important; }

.text-gray-2 {
  color: #767676 !important; }

.text-info {
  color: #6cc8bf !important; }

.text-primary {
  color: #000066 !important; }

.text-warning {
  color: #ffc60b !important; }

.text-warning-2 {
  color: #f5881a !important; }

.text-primary-2 {
  color: #c6a1e8 !important; }

.bg-gray {
  background-color: #f7f7f7 !important; }

.bg-gray-2 {
  background-color: #b8b8b8 !important; }

.bg-gray-3 {
  background-color: #f9f9f9 !important; }

.bg-info {
  background-color: #6cc8bf !important; }

.bg-primary {
  background-color: #000066 !important; }

body {
  font-family: "Bai Jamjuree", sans-serif;
  color: #11112e; }

#preloader {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  transition: 0.3s;
  background-color: #000066;
  z-index: 9999; }
  #preloader svg {
    width: 300px !important; }
    @media (max-width: 991.98px) {
      #preloader svg {
        width: 200px !important; } }

main {
  background-color: #fff;
  position: relative;
  z-index: 2; }

.pace-container {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s; }

.pace-done #preloader {
  opacity: 0;
  visibility: hidden; }
.pace-done .pace-container {
  opacity: 1;
  visibility: visible; }
.pace-done .heading {
  opacity: 1 !important;
  transform: none !important; }

.pace {
  pointer-events: none;
  user-select: none; }
  .pace-inactive {
    display: none; }
  .pace-progress {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    border-top: 3px solid #fff;
    z-index: 99999; }

* {
  outline: none !important; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #000066;
  transition: 0.3s; }
  a:hover {
    color: #e72732;
    text-decoration: none; }

hr {
  border-top-color: #dfdfdf;
  margin: 0; }

.btn {
  border-radius: 0;
  padding: 13.5px 28px 13.5px 31px;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: none !important;
  font-size: 17px; }
  .btn span {
    vertical-align: middle; }
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid transparent;
    transition: 0.3s;
    transform: translate(7px, 7px);
    z-index: -1; }
  .btn:after {
    content: "";
    display: inline-block;
    font-size: 0;
    width: 7px;
    height: 12px;
    background-size: cover;
    margin-left: 22px;
    vertical-align: middle;
    transition: 0.3s; }
  .btn:hover:before {
    transform: none; }
  .btn:hover:after {
    transform: translateX(-5px); }
  .btn:active:after {
    transform: translateX(5px); }

.btn-danger {
  background: linear-gradient(to right, #e72732, #ffc60b); }
  .btn-danger:before {
    border-color: #ffc60b; }
  .btn-danger:after {
    background-image: url(../img/arrow-white.svg); }
  .btn-danger.btn-sm {
    background: #e72732; }

.btn-light-danger {
  color: #e72732 !important;
  background: #fff; }
  .btn-light-danger:before {
    border-color: #fff; }
  .btn-light-danger:after {
    background-image: url(../img/arrow-danger.svg); }

.btn-light-primary {
  color: #000066 !important;
  background: #fff; }
  .btn-light-primary:before {
    border-color: #fff; }
  .btn-light-primary:after {
    background-image: url(../img/arrow-primary.svg); }

@media (min-width: 1400px) {
  .container {
    max-width: 1350px; } }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  text-transform: capitalize; }

@media (min-width: 1200px) {
  .h1, h1 {
    font-size: 50px; } }

.h2, h2 {
  margin-bottom: 35px; }
  @media (min-width: 1200px) {
    .h2, h2 {
      font-size: 40px; } }

@media (min-width: 576px) {
  .fz-20 {
    font-size: 20px; } }

.fz-14 {
  font-size: 14px; }

.fz-0 {
  font-size: 0; }

.navbar {
  transition: 0.3s; }
  .navbar .navbar-brand {
    max-width: 70%;
    position: relative;
    padding: 0; }
    .navbar .navbar-brand img {
      transition: 0.3s;
      height: 51px; }
      .navbar .navbar-brand img.logo-white {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
  @media (max-width: 991.98px) {
    .navbar .navbar-collapse {
      padding: 0.5rem 0; } }
  .navbar .nav-link {
    color: inherit; }
    .navbar .nav-link:hover {
      color: #ffc60b; }
  .navbar.navbar-bg {
    background-color: #fff; }
    .navbar.navbar-bg .navbar-brand img {
      opacity: 0; }
      .navbar.navbar-bg .navbar-brand img.logo-white {
        opacity: 1; }
    .navbar.navbar-bg .nav-link {
      color: #11112e; }
  .navbar .nav-item.active .nav-link {
    font-weight: bold; }
    @media (max-width: 1199.98px) {
      .navbar .nav-item.active .nav-link {
        color: #e72732; } }
  @media (min-width: 1200px) {
    .navbar {
      padding-top: 29px;
      padding-bottom: 0; }
      .navbar .navbar-nav {
        position: relative;
        font-size: 17px;
        padding-top: 10px; }
        .navbar .navbar-nav .nav-link {
          padding: 1rem 0;
          position: relative; }
      .navbar.navbar-bg {
        padding-top: 0; }
        .navbar.navbar-bg .navbar-brand img {
          height: 42px; }
        .navbar.navbar-bg .navbar-nav {
          font-size: 15px; }
          .navbar.navbar-bg .navbar-nav .nav-link {
            padding: 18px 0; } }
  @media (max-width: 991.98px) {
    .navbar {
      background-color: #fff; }
      .navbar .navbar-brand img {
        height: 42px;
        opacity: 0; }
        .navbar .navbar-brand img.logo-white {
          opacity: 1; }
      .navbar .nav-link {
        color: #11112e; } }

.navbar-toggler {
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  border: 0; }
  .navbar-toggler:before {
    width: 38px;
    animation-name: sandwich-1; }
  .navbar-toggler span {
    width: 28px;
    animation-name: sandwich-2; }
  .navbar-toggler:after {
    width: 18px;
    animation-name: sandwich-3; }
  .navbar-toggler:before, .navbar-toggler:after {
    content: ""; }
  .navbar-toggler span, .navbar-toggler:after {
    margin-top: 8px; }
  .navbar-toggler span, .navbar-toggler:before, .navbar-toggler:after {
    display: block;
    margin-left: auto;
    transition: 0.3s;
    transform-origin: right center;
    height: 3px;
    background-color: #11112e;
    margin-left: auto;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s; }
  .navbar-toggler:hover {
    opacity: 0.8; }
  .navbar-toggler.active:before {
    transform: rotate(-45deg);
    width: 32px; }
  .navbar-toggler.active span {
    width: 0;
    opacity: 0; }
  .navbar-toggler.active:after {
    transform: rotate(45deg);
    width: 32px; }
  .navbar-toggler.active span, .navbar-toggler.active:before, .navbar-toggler.active:after {
    animation-name: none !important; }

@keyframes sandwich-1 {
  50% {
    width: 18px; } }
@keyframes sandwich-2 {
  25% {
    width: 23px; }
  50% {
    width: 28px; }
  75% {
    width: 33px; } }
@keyframes sandwich-3 {
  50% {
    width: 38px; } }
.header-1 {
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #fff;
  z-index: 2; }
  .header-1:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #000066, rgba(255, 255, 255, 0.1)); }
  .header-1 > .container {
    padding-top: 200px;
    padding-bottom: 100px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative; }
  .header-1 .heading {
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20px); }
  .header-1 .scroll-to:before {
    animation-name: scroll-1;
    margin-top: 8px;
    margin-left: 8px; }

.page-footer {
  color: #fff;
  font-size: 13px;
  padding: 60px 0;
  overflow: hidden;
  text-align: center;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #000066; }
  @media (min-width: 768px) {
    .page-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0; } }
  .page-footer p {
    opacity: 0.5; }
  .page-footer ul {
    list-style: none;
    padding-left: 0; }
    .page-footer ul li {
      display: inline-block; }
    @media (min-width: 768px) {
      .page-footer ul.footer-links li + li:before {
        content: "|";
        margin: 0 15px 0 10px;
        opacity: 0.1; } }
    @media (max-width: 767.98px) {
      .page-footer ul.footer-links li {
        padding-left: 7px;
        padding-right: 7px; } }
    .page-footer ul.footer-links li a:not(:hover) {
      color: inherit; }
    .page-footer ul.social-icons {
      padding-top: 0.5rem;
      margin-bottom: 0; }
      .page-footer ul.social-icons li a {
        color: inherit;
        font-size: 1rem;
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 0 5px;
        transform: rotate(45deg); }
        .page-footer ul.social-icons li a:before {
          display: inline-block;
          transform: rotate(-45deg); }
        .page-footer ul.social-icons li a:hover {
          background-color: #e72732; }
  .page-footer .scroll-to:before {
    animation-name: scroll-2;
    margin-top: 18px;
    margin-left: 18px; }

.scroll-to {
  font-size: 1rem;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px;
  margin: 0 auto;
  text-align: left;
  color: #fff !important;
  transform: rotate(45deg);
  transition: 0.3s; }
  .scroll-to:before {
    display: inline-block;
    animation: scroll 2s infinite;
    transform: rotate(-45deg);
    transition: 0.3s; }
  .scroll-to:hover {
    background-color: #e72732; }
    .scroll-to:hover:before {
      margin-top: 14px;
      margin-left: 14px;
      animation: inherit; }

@keyframes scroll-1 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(-45deg) translateY(20px); } }
@keyframes scroll-2 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(-45deg) translateY(-20px); } }
.section {
  padding: 90px 0; }

.section-1 {
  color: #fff;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(135deg, #000066 30%, #e72732 100%); }
  .section-1 .clock-countdown {
    bottom: 0;
    left: 0;
    margin: 40px auto 0;
    position: relative;
    right: 0;
    top: 0; }
    .section-1 .clock-countdown .coundown-timer {
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      margin: 0; }
      .section-1 .clock-countdown .coundown-timer .single-counter {
        display: inline-block;
        letter-spacing: 5px;
        position: relative;
        width: 92px;
        font-family: "Bai Jamjuree", sans-serif;
        text-align: center;
        margin-bottom: 30px; }
        .section-1 .clock-countdown .coundown-timer .single-counter .numb {
          line-height: 64px;
          width: 70px;
          height: 70px;
          margin: 0 auto 30px;
          letter-spacing: -1px;
          display: block;
          border: 1px solid rgba(255, 255, 255, 0.25);
          text-align: center;
          transform: rotate(45deg);
          transition: 0.3s; }
          .section-1 .clock-countdown .coundown-timer .single-counter .numb div {
            transform: rotate(-45deg); }
        .section-1 .clock-countdown .coundown-timer .single-counter .normal {
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 2px;
          margin-top: 10px;
          color: rgba(255, 255, 255, 0.33);
          transition: 0.3s; }
        .section-1 .clock-countdown .coundown-timer .single-counter:hover .numb {
          background: #e72732;
          border-color: #e72732; }
        .section-1 .clock-countdown .coundown-timer .single-counter:hover .normal {
          color: #fff; }

/*# sourceMappingURL=style.css.map */
